<h4 class="title-form">SIGNUP</h4>

<form novalidate [formGroup]="signup" *ngIf="signup">
    <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullName" formControlName="fullName" placeholder="Jeff Brown">

        <div class="danger" *ngIf="fullName && fullName.invalid && (fullName.dirty || fullName.touched)">
            <div *ngIf="fullName.errors?.['required']">
                Full Name is required.
            </div>
            <div *ngIf="fullName.errors">
                Invalid length characteres
            </div>
        </div>

    </div>
    
    <div class="mb-3">
        <label class="form-label">Your Email</label>
        <input  type="email" pattern="[a-zA-Z0-9!#$%&'*_+-]([\.]?[a-zA-Z0-9!#$%&'*_+-])+@[a-zA-Z0-9]([^@&%$\/()=?¿!.,:;]|\d)+[a-zA-Z0-9][\.][a-zA-Z]{2,4}([\.][a-zA-Z]{2})?" 
                class="form-control" 
                id="email" 
                formControlName="email" 
                placeholder="jeff.brown@example.com">
    
        <div class="danger" *ngIf="email && email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.['required']">
                Email is required.
            </div>
            <div *ngIf="email.errors">
                Email Format invalid
            </div>
        </div>

    </div>
    
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">

        <div class="danger" *ngIf="password && password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.['required']">
                Password is required.
            </div>
        </div>

    </div>
    
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary btn-block btn-form-action" 
            type="button" 
            (click)="submit()"
            [disabled]="signup.invalid || send ">SIGNUP</button>
    </div>
</form>


<div class="terms">
    <p class="text-center">By Creating account You agree to the <a href="">Terms </a> of use and <a href="">Privacy Polycy</a></p>
</div>
