<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="card-d">
                <app-profile [item]="user" *ngIf="user"></app-profile>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-d">
                <app-link-form (saveLinkForm)="emitSaveForm()"></app-link-form>
            </div>

            <app-list-link [links]="links" *ngIf="links" (deleteLinkForm)="emitSaveForm()"></app-list-link>
        </div>
    
    </div>
</div>
