<div *ngIf="links">
    <div *ngIf="links.length > 0">
        <div class="card-d mg-card" *ngFor="let link of links">
            <div class="row">
                <div class="col-md-11">
                    <h1 class="title-link">
                        {{ link.name }}
                        <p class="p-link">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint</p>
                    </h1>
                </div>
                <div class="col-md-1">
                    <img [src]="imgDelete" (click)="deleteLink(link)" class="cursor">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="links.length === 0">
        <div class="card-d mg-card" >
            <p class="p-link">No links available, please add link</p>
        </div>
    </div>
</div>
