<header>
  <button 
    mat-stroked-button 
    color="primary" 
    [routerLink]="[button.routerLink]"
    class="btn-header">
        {{button.label}}
    </button>
</header>
<div class="content-links">
  <div class="text-center">
    <img [src]="logo" class="logo">
  </div>
  <div class="card">
    <router-outlet></router-outlet>
  </div>

</div>
