
<form novalidate [formGroup]="link" *ngIf="link">
    <div class="mb-3">
        <label class="form-label">Url To Save</label>
        <input  type="text"  
                class="form-control" 
                id="url" 
                formControlName="url" 
                pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"
                >
    
        <div class="danger" *ngIf="url && url.invalid && (url.dirty || url.touched)">
            <div *ngIf="url.errors?.['required']">
                Url is required.
            </div>
            <div *ngIf="url.errors">
                Invalid format.
            </div>
        </div>

    </div>
    <div class="mb-3">
        <label class="form-label">Name of Url</label>
        <input  type="text"  
                class="form-control" 
                id="name" 
                formControlName="name" 
                >
       <div class="danger" *ngIf="name && name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors?.['required']">
                Name is required.
            </div>
        </div>

    </div>
    <div class=" mx-auto text-right">
        <button class="btn btn-primary btn-form-action" 
            type="button" 
            (click)="submit()"
            [disabled]="link.invalid || send ">ADD</button>
    </div>
</form>