<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <img [src]="logo" class="logo">
          </div>
    </div>
    <div class="col-md-6">
        <header>
            <button 
              mat-stroked-button 
              color="primary"
              class="btn-header"
              (click)="logout()">
                  {{button.label}}
              </button>
          </header>
    </div>
</div>

<router-outlet></router-outlet>