<div *ngIf="user">
    <div class="row">
        <div class="col-md-12">
            <img [src]="user.avatar" class='img-rounded'>
        </div>
        <div class="col-md-12">
            <br>
            <p class="title-profile">{{user.name}}</p>
            <p class="title-profile">{{user.email}}</p>
        </div>
    </div>
       

</div>


