@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@font-face {
    font-family: Monserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-Medium.ttf);

}
@font-face {
    font-family: Monserrat-bold;
    src: url(./assets/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
}
*{
    font-family: Monserrat !important; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Monserrat, Roboto, "Helvetica Neue", sans-serif; }

header{
    padding: 48px 104px;
    text-align: right;
}
.btn-header{
    border-color: #007AFF !important;
    color: #007AFF !important;
    font-size: 14px;
    width: 136px;
    text-align: center;
    height: 40px;
    font-family: Monserrat-bold;
}
.content-links{
    width: 100%;
}
.logo{
    margin: 0px auto;
    width: 346px;
    height: 212px;
}
.card{
    width: 560px;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(199, 199, 199, 0.55);
    border-radius: 6px;
    padding: 32px;
    border: none;
}

.card-d{
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(199, 199, 199, 0.55);
    border-radius: 6px;
    padding: 32px;
    border: none;
}

.title-form{
    color: #333333 !important;
    font-size: 24px !important;
    font-family: Monserrat;
}

.form-control {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 1.5rem 0.75rem;
}
.btn-form-action{
    background: #007AFF;
    color: #FFFFFF;
    font-size: 14px !important;
}
.spacer-30{
    height: 30px;
}
.terms{
    width: 300px;
    margin: 0px auto;
}
.danger{
    color: red;
}

.dashboard-container{
    padding: 0px 80px;
}
.img-rounded{
    border-radius:150px;
}
.title-profile{
    font-size: 18px;
    color: #333333;
}
.mg-card{
    margin: 20px 0px;
}